<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92dae4">  <td>21/01/21 13:40:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgentServiceApplicationTests.check()[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">check</td> 
  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="92dae4">  <td>21/01/21 13:40:44</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgentServiceApplicationTests.contextLoads()[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">contextLoads</td> 
  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:44</td>   <td>144</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:44</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:44</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:18</td>   <td>-26167</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:44</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:44</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
<tr bgcolor="6c9f99">  <td>21/01/21 13:40:18</td>   <td>-25618</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.simbiotik.standard.agent.service.AgentServiceApplicationTests@ea9b7c6]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@767436045</td>   <td></td> </tr>
</table>
